<!DOCTYPE html>
<html>
  <head>
    <title>Havana Kaba - Fullstack Software Engineer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- EXO 2 FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- END EXO 2 FONT -->
  </head>

  <body class="bg-rose-100 h-screen w-screen fixed overflow-auto">
    <main class="mx-8 my-6 flex">
      <%= yield %>
    </main>
  </body>
</html>
